@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">

    @if (User.IsInRole("Admin"))
    {
        <h4 class="display-9"> USER MENU </h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">List of users</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AddUser">Add new user</a>
    }
    <br>
    @if (User.IsInRole("User"))
    {
        <h4 class="display-9"> POINT MENU </h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Point" asp-action="Index">List of points</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Point" asp-action="AddPoint">Add new point</a>
    }
    <br>
    @if (User.IsInRole("Admin"))
    {
        <h4 class="display-9"> TYPE MENU </h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Type" asp-action="Index">List of point types</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Type" asp-action="AddType">Add new point type</a>
    }

</div>