@{
    ViewData["Title"] = "Select Register";
}


<div class="text-center">
    <h1 class="display-4">Welcome to YourLocalization App!</h1>
    <br>
    <br>
    <br>
    <br>
    <h5>Do you want to report the location of a shop, hairdresser</h5>
    <h5>or other place that you think is missing in your area?</h5>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-isCustomer="false">User Register</a>
@*    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register/User">User Register</a>
*@    <br>
    <br>
    <br>
    <h5>Or would you like to see where the community</h5>
    <h5>needs your business?</h5>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-isCustomer="true">Customer Register</a>
@*    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register/Customer">Customer Register</a>
*@    <br>
    <br>
    <br>
    <br>
    <br>
</div>